body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}
.calculator{
    width: 290px;
    margin: calc(50% - 200px);
    height: 415px;
    border: 4px solid #78007A;
    border-radius: 35px;
    background-color: #FFB2FF;
    
}
.operation{
    
    width: 95%;
    height: 30.55%;
    margin: 15px auto 10px auto;
    
}
#result
#digit{
    display: block;
    width: 93%;
    height: 40px;
    line-height: 40px;
    margin: 55px auto;
    text-align: right;
    padding: 1px 0;
    color: black;
}
.fon{
    
    border-radius: 35px;
    background-color:white;
    box-shadow: -2px -12px 12px -6px rgba(120,0,122,0.75);
-webkit-box-shadow: -2px -12px 12px -6px rgba(120,0,122,0.75);
-moz-box-shadow: -2px -12px 12px -6px rgba(120,0,122,0.75);
}
.mygtukai{
    height: 258px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    
     
}
.btn{
    background-color:transparent;
    list-style: none;
    font-size: 24px;
    font-weight: bolder;
    border: none;
    border-radius: 14px;
}
.btn:hover{
    background-color: #e6abe6;
}
.btnhover:hover{
    background-color: #e6abe6;
    border-bottom-left-radius: 35px;
}
.span{
    
    margin-bottom: -2px;
    margin-right: -1px;
    grid-row: span 2;
    background-color: #78007A;
    border-bottom-right-radius: 35px;
    
}
.textcolor{
    color: #78007A;
}